<%-include("header.ejs") %>

<form class="compose-form" action="/home" method="POST">
    <label for="title-text">Title</label>
    <input style="display: inline-block;" name="title" type="text" id="title-text">
    <label for="compose-text">Content</label>
    <textarea name="content" id="compose-text" cols="90" rows="7"></textarea>
    <input type="submit" value="SUBMIT" id="submit-compose">
</form>


<%-include("footer.ejs") %>