
body{
    margin: 0;
}

.container{
    display: flex;

}

.banner{
    background-color: lightgray;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 200px;
    margin: 0;
    font-weight: lighter;
}

.banner h2{
    font-weight:lighter;
}
.banner h1{
    margin-top:0.2rem;
}



#calculator{
    width: 15rem;
    height: 25rem;
    background-color :white;
    border: 1px lightgray solid;
    margin-left: 7rem;
    margin-top: 4rem;
    display: flex;
    flex-direction: column;
}

.calculator-heading{
    background-color: lightgray;  
    margin-top: 0;  
    height: 3rem;
    display: flex;
    
}

.calculator-heading h2{
    margin-left: 2rem;
    margin-top: 0;
    margin-top: .5rem;
}

.row{
    display: flex;
    width: 300px;
    height: 700px;
    margin-left: 1.5rem;
    margin-top: 0.7rem;
}

.button-number{
    background-color: rgb(74, 74, 247);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35px;
    height: 60px;
    margin-left: .5rem;
    border-radius: 10%;
    font-size: 2em;
    cursor: pointer;
    
}

.button-operator{
    background-color: tomato;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35px;
    height: 60px;
    margin-left: .5rem;
    border-radius: 10%;
    font-size: 2em;
    cursor: pointer;
    
}

/* Result */

.result{
    display: flex;
    width: 40rem;
    height: 40px;
    flex-direction: column;
    margin-top: 4rem;
    margin-left: 7rem;
    border: 1px lightgray solid;
    
}
.result-heading{
    background-color: lightgray;
    height: 3rem;
    display: flex;
    align-content: center;

}

.result-heading h2{
    width: 100%;
    margin-left: 2rem;
}

.hr-result{
    width: 80%;
    display: flex;
    align-self: center;
}

.hr-result{
    margin-top: 2rem;
    margin-bottom: 2rem;
}


.number-box{
    height: 2rem;
}
.number-box .opnum{
    margin-left: 3.8rem;
}