
body{
    margin: 0;
}

.banner{
    background-color: lightgray;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 200px;
    margin: 0;
    font-weight: lighter;
}

.banner h2{
    font-weight:lighter;
}
.banner h1{
    margin-top:0.2rem;
}



#calculator{
    width: 15rem;
    height: 25rem;
    background-color :white;
    border: 1px lightgray solid;

}

.calculator-heading{
    background-color: lightgray;    
}

.calculator-heading h2{
    margin-left: 2rem;
}

.row{
    display: flex;
    width: 300px;
    height: 700px;
    margin-left: 1.5rem;
}

.button-number{
    background-color: blue;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35px;
    height: 60px;
    margin-left: .5rem;
    border-radius: 10%;
    
}

.button-operator{
    background-color: tomato;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35px;
    height: 60px;
    margin-left: .5rem;
    border-radius: 10%;
    
}

