<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body {
            background-color: rgb(228, 94, 46);
            font-size: 30px;
        }
    </style>
</head>

<body>
    <div>
        <h1>New Item Page</h1>
        <form action="/bakedgoods" method="POST">
            <label for="name">Name</label>
            <input type="text" name="name" id="name" />
            <label for="price">Price</label>
            <input type="text" name="price" id="price" />
            <input type="submit" value="Create Item">
        </form>
    </div>
</body>

</html>