<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.0/normalize.css"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css"></script>
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/skeleton.css">
    <style>
        body {
            background-color: cadetblue;
            width: 100%;
            height: 100%;
            margin-top: 30px;
        }

        form {
            margin: 30px 0 0 60px;
        }
    </style>
</head>

<body>
    <form action="/scientist/<%= index %>?_method=PUT" method="POST">
        <h1>Edit Scientist</h1>
        <div class="row">
            <div class="six columns">
                <label for="exampleEmailInput">Edit <%= scientist.name %></label>
                <input class="u-full-width" type="text" placeholder="Name.." name="name" id="name"
                    value="<%= scientist.name %>">
            </div>
        </div>
        <div class="row">
            <textarea class="six columns" placeholder="Description…" name="description" id="description"
                value="<%= scientist.description %>"></textarea>
            <input class="button-primary" type="submit" value="EDIT">
        </div>

    </form>
</body>

</html>