<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.0/normalize.css"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css"></script>
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/skeleton.css">
    <style>
        body {
            background-color: cadetblue;
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            margin-top: 30px;
        }

        .scientist-container {
            width: 80%;
            height: 100%;
        }



        a {
            color: black;
            text-decoration: none;
        }

        .delete-button {
            position: relative;
        }

        .delete-button form {
            position: absolute;
            right: 300px;
            top: 7px
        }
    </style>
</head>

<body>
    <div class="scientist-container">
        <h1>SCIENTISTS</h1>
        <button class="button-primary" onclick="location.href='/scientist/new'" type="button">ADD A NEW
            SCIENTIST</button>
        <table class="u-full-width">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Description</th>
                </tr>
            </thead>
            <tbody>

                <% for(let i=0;i<scientist.length; i++){ %>
                <tr>
                    <td><a href="/scientist/<%= i %>"><%= scientist[i].name %></a></td>
                    <td><%= scientist[i].description %></td>
                    <td class="delete-button">
                        <form action="/scientist/<%= i %>?_method=DELETE" method="POST">
                            <input type="submit" value="DELETE" />
                        </form>
                    </td>
                </tr>
                <% } %>
            </tbody>
        </table>
    </div>
</body>

</html>