<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.0/normalize.css"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css"></script>
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/skeleton.css">
    <style>
        form {
            margin: 100px 0 0 100px;

        }
    </style>
</head>

<body>

    <form action="/scientist" method="POST">
        <h1>Create New Scientist</h1>
        <div class="row">
            <div class="six columns">
                <label for="exampleEmailInput">Your email</label>
                <input class="u-full-width" type="text" placeholder="Name.." name="name" id="exampleEmailInput">
            </div>
        </div>
        <div class="row">
            <textarea class="six columns" placeholder="Description…" name="description" id="message"></textarea>
            <input class="button-primary" type="submit" value="Submit">
        </div>

    </form>
</body>

</html>