<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Budget Index Page</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.0/normalize.css"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css"></script>
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/skeleton.css">
    <style>
        form {
            transform: translate(65px, 65px);
        }
    </style>
</head>

<body>
    <form action="/budget" method="POST">
        <div class="row">
            <div class="four columns">
                <input class="u-full-width" name="date" type="text" placeholder="Date..." id="date">
            </div>
            <div class="four columns">

                <input class="u-full-width" name="name" type="text" placeholder="Name..." id="name">
            </div>
        </div>

        <div class="row">
            <div class="four columns">

                <input class="u-full-width" name="amount" type="text" placeholder="Amount..." id="amount">
            </div>
            <div class="four columns">

                <input class="u-full-width" name="from" type="text" placeholder="from..." id="from">
            </div>
        </div>

        <input class="button-primary" type="submit" value="CREATE NEW ITEM">
    </form>
</body>

</html>