<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mars Mission Index</title>
    <link rel="stylesheet" href="../main.css">
</head>

<body>
    <h1>Names</h1>
    <ul>
        <% for (let i = 0; i < marsMission.length; i++) { %>
        <li>
            <a href="/index/<%= i %>"><%= marsMission[i].name %></a>
        </li>
        <% } %>
    </ul>
</body>

</html>