@import url("https://fonts.googleapis.com/css2?family=Modak&display=swap");

/* general */
body {
  font-family: "Modak", cursive;
  margin: 0;
}

.container {
  width: 60%;
  margin: 0 auto;
  height: 100%;
  background-image: url("./bg-home.jpeg");
  background-size: cover;
}

/* HEADER */

.header {
  margin: 0;
  width: 100%;
  height: 30%;
  background-color: midnightblue;
  font-size: 3rem;
  color: white;
  text-align: center;
  transform: translateY(-40px);
}
.header-inner {
  margin: 0;
}

/* fieldset/form-group */
fieldset {
  margin: 0;
  display: flex;
  justify-content: center;
  border-color: midnightblue;
  border-radius: 6px;
}
legend {
  color: midnightblue;
}

input {
  width: 20%;
  height: 2rem;
  margin-right: 5px;
  border-radius: 6px;
}

/* items table */
table {
  margin: 20px auto;
  text-align: center;
}

table {
  border-collapse: separate;
  border-spacing: 7rem 1rem;
}

td {
  color: midnightblue;
  font-size: x-large;
}

button {
  border-radius: 50%;
}
