<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/main.css">
</head>

<body>
    <div>
        <h1>Gotta Catch 'Em All</h1>
        <br>
        <h2><span> <%= pokemon.name %></span></h2>
        <br>
        <img src=<%= pokemon.img + ".jpg" %> alt="<%= pokemon.name %>""
    </div>
    <br>
    <a class='go' href=" /pokemon">Go Back To Pokemon Universe</a>
</body>

</html>