body {
    background-color: #F8F7FF;
    text-align: center;
    font-family: fantasy;

}

table, th, td {
    border: 1px solid grey;
}
table{
    text-align: center;
}

.cabbage{
    color:chartreuse
}