.App {
  text-align: center;
}

.shopping-list-form {
  display: inline;
}

.shopping-list-container {
  margin-top: 50px;
  flex-wrap: wrap;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100vw;
}

.items {
  display: flex;
  justify-content: center;
  border: 1px solid black;
  border-radius: 10px;
  width: 20%;
  background-color: cornflowerblue;
}

.remove-button {
  margin-left: 190px;
}

span {
  background-color: rgb(207, 207, 70);
  border-radius: 5px;
}
